.gallery{
    background-color: $borderColor;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $mainGap;
    &__container{
        background-color: $bgColor;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        grid-template-areas: 
        "slider slider"
        "title controls";
        padding-bottom: $commonMarginOrPaddingDT;
        overflow: hidden;
    }
    &__slider-container{
        margin-left: auto;
        margin-right: auto;
        grid-area: slider;
        overflow: hidden;
        margin-bottom: $commonMarginOrPaddingDT;
    }
    &__slider{
        width: 100%;
        display: flex;
        transition: $burgerTransition;
    }
    &__img{
        width: 100%;
        object-fit: cover;
        aspect-ratio: 72 / 54;
    }
    &__controls{
        width: 114px;
        display: flex;
        justify-content: space-between;
        grid-area: controls;
        justify-self: end;
        margin-right: $commonMarginOrPaddingDT;
    }
    &__control{
        width: 42px;
        height: 34px;
        cursor: pointer;
        background-image: url(../../../images/slider__arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: inherit;
        border: 0;
        transition: $linkHoverTransition;
        &_right{
            transform: rotate(180deg);
        }
    }
    &__control:hover{
        opacity: $hoverOpacity;
    }
}

@media screen and (max-width: 1000px) {
    .gallery{
        grid-template-columns: auto;
        &__container{
            &_empty{
                display: none;
            }
        }
        &__slider-container{
            margin: 35px auto $commonMarginOrPaddingDT;
            max-width: 700px;
        }
        &__img{
            max-height: 510px;
            aspect-ratio: 70 / 51;
        }
    }
}

@media screen and (max-width: 550px) {
    .gallery{
        &__container{
            padding: $commonMarginOrPaddingM;
        }
        &__slider-container{
            margin: 0 0 50px 0;
        }
        &__img{
            padding: $noPadding;
        }
        &__controls{
            margin: $noMargin;
            width: 64px;
        }
        &__control{
            width: 24px;
            height: 20px;
            background-size: 24px;
        }
    }
}
