@import url(../vendor/fonts/SourceSansPro/SourceSansPro.css);
@import url(../vendor/normalize.css);
@import url(../modules/keyframes/keyframes.css);
.page {
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  color: #E1FD2C;
  background-color: #E1FD2C;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #191D2C;
  position: fixed;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #E1FD2C;
  z-index: 1;
}
.header__nav {
  margin-left: 50px;
  display: flex;
  gap: 20px;
  -webkit-animation: fade-in 400ms ease;
          animation: fade-in 400ms ease;
}
.header__link {
  text-decoration: none;
  color: #E1FD2C;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  transition: all 200ms ease;
}
.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .header__nav {
    display: none;
    margin-left: 34px;
    gap: 16px;
  }
  .header__nav_active {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .header__nav {
    margin-left: 20px;
  }
  .header__link {
    font-size: 11px;
  }
}
.logo {
  width: 184px;
  -webkit-animation: fade-in 300ms ease;
          animation: fade-in 300ms ease;
}
.logo_place_header {
  margin-left: auto;
  margin-right: calc(50vw - 92px);
}
.logo_disabled {
  display: none;
}

@media screen and (max-width: 1000px) {
  .logo_place_header {
    margin-right: auto;
    margin-left: calc(50vw - 92px);
  }
}
@media screen and (max-width: 550px) {
  .logo_place_header {
    width: 100px;
    margin-left: calc(50vw - 50px);
  }
}
.heading {
  background-color: #191D2C;
  color: #E1FD2C;
  padding: 150px 0;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "span-top image" "title image" "span-bottom image" "button image";
}
.heading__span {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 30px;
  justify-self: center;
  text-transform: uppercase;
}
.heading__span_top {
  grid-area: span-top;
}
.heading__span_bottom {
  grid-area: span-bottom;
}
.heading__title {
  grid-area: title;
  font-weight: 400;
  font-size: 65px;
  line-height: 73px;
  margin: 0 0 50px 0;
  text-align: center;
}
.heading__button {
  text-transform: uppercase;
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid #E1FD2C;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  color: #E1FD2C;
  transition: all 300ms ease;
  margin-top: 30px;
  justify-self: center;
}
.heading__button:hover {
  background-color: #E1FD2C;
  color: #191D2C;
}
.heading__image {
  grid-area: image;
  width: 50vw;
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .heading {
    padding: 100px 34px;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, -webkit-min-content);
    grid-template-rows: repeat(5, min-content);
    grid-template-areas: "span-top" "title" "span-bottom" "image" "button";
  }
  .heading__title {
    max-width: 550px;
    margin: 0 auto 50px auto;
  }
  .heading__image {
    width: 100%;
    margin: 70px 0;
  }
}
@media screen and (max-width: 550px) {
  .heading {
    padding: 60px 20px;
  }
  .heading__span {
    font-size: 11px;
    line-height: 14px;
    margin: 0;
  }
  .heading__title {
    max-width: 280px;
    font-size: 38px;
    line-height: 50px;
    margin: 26px auto 30px auto;
  }
  .heading__image {
    margin: 60px 0;
  }
  .heading__button {
    width: 100%;
  }
}
.burger {
  width: 26px;
  height: 22px;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease;
  margin-right: 35px;
  margin-left: auto;
  display: none;
  overflow: hidden;
}
.burger__line {
  width: 26px;
  height: 2px;
  background-color: #E1FD2C;
  position: absolute;
  transition: all 400ms ease;
}
.burger__line_top {
  top: 0;
}
.burger__line_middle {
  top: 10px;
}
.burger__line_bottom {
  bottom: 0;
}
.burger__line_top_active {
  transform: rotate(45deg);
  top: 10px;
}
.burger__line_middle_active {
  opacity: 0;
  transform: rotate(90deg);
}
.burger__line_bottom_active {
  transform: rotate(135deg);
  bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .burger {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .burger {
    width: 20px;
    height: 18px;
  }
  .burger__line {
    width: 20px;
  }
  .burger__line_middle {
    top: 8px;
  }
  .burger__line_top_active {
    top: 8px;
  }
  .burger__line_bottom_active {
    bottom: 8px;
  }
}
.about {
  background-color: #E1FD2C;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1px;
}
.about__container {
  padding: 40px 50px 45px;
  background-color: #191D2C;
}
.about__list-title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}
.about__list {
  text-transform: capitalize;
  box-sizing: border-box;
  margin: 50px auto auto 0;
  padding: 0 0 0 10px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
}
.about__list_plus {
  list-style-type: "+";
}
.about__list_minus {
  list-style-type: "-";
}

@media screen and (max-width: 1000px) {
  .about {
    grid-template-columns: auto;
    grid-template-rows: -webkit-min-content 506px;
    grid-template-rows: min-content 506px;
    grid-template-areas: "paragraph paragraph" "left-list right-list";
  }
  .about__container_paragraph {
    grid-area: paragraph;
  }
  .about__container_left-list {
    grid-area: left-list;
  }
  .about__container_right-list {
    grid-area: right-list;
  }
}
@media screen and (max-width: 550px) {
  .about {
    grid-template-areas: "paragraph" "left-list" "right-list";
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
  }
  .about__container {
    padding: 20px;
  }
  .about__container_paragraph {
    padding: 18px 20px;
  }
  .about__list-title {
    font-size: 22px;
    line-height: 100%;
  }
  .about__list {
    margin: 40px auto 0 0;
    padding: 0 0 0 8px;
    font-size: 16px;
    line-height: 20px;
  }
}
.paragraph {
  color: #E1FD2C;
  font-weight: 300;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  display: inline;
}
.paragraph_place_about::before {
  font-weight: 400;
  content: "VW T1 Electro:";
}
.paragraph__span {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  display: inline;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .paragraph {
    font-size: 16px;
    line-height: 27px;
  }
  .paragraph__span {
    font-size: 16px;
    line-height: 27px;
  }
}
.section-title {
  font-weight: 400;
  font-size: 46px;
  line-height: 100%;
  color: #E1FD2C;
  margin: 0;
}
.section-title_place_gallery {
  margin-left: 50px;
  grid-area: title;
}

@media screen and (max-width: 550px) {
  .section-title {
    font-size: 26px;
  }
  .section-title_place_gallery {
    margin: 0;
  }
}
.gallery {
  background-color: #E1FD2C;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}
.gallery__container {
  background-color: #191D2C;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas: "slider slider" "title controls";
  padding-bottom: 50px;
  overflow: hidden;
}
.gallery__slider-container {
  margin-left: auto;
  margin-right: auto;
  grid-area: slider;
  overflow: hidden;
  margin-bottom: 50px;
}
.gallery__slider {
  width: 100%;
  display: flex;
  transition: all 400ms ease;
}
.gallery__img {
  width: 100%;
}
.gallery__controls {
  width: 114px;
  display: flex;
  justify-content: space-between;
  grid-area: controls;
  justify-self: end;
  margin-right: 50px;
}
.gallery__control {
  width: 42px;
  height: 34px;
  cursor: pointer;
  background-image: url(../../../images/slider__arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  border: 0;
  transition: all 200ms ease;
}
.gallery__control_right {
  transform: rotate(180deg);
}
.gallery__control:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .gallery {
    grid-template-columns: auto;
  }
  .gallery__container_empty {
    display: none;
  }
  .gallery__slider-container {
    margin: 35px auto 50px;
    max-width: 720px;
  }
}
@media screen and (max-width: 550px) {
  .gallery__container {
    padding: 20px;
  }
  .gallery__slider-container {
    margin: 0 0 50px 0;
  }
  .gallery__img {
    padding: 0;
  }
  .gallery__controls {
    margin: 0;
    width: 64px;
  }
  .gallery__control {
    width: 24px;
    height: 20px;
    background-size: 24px;
  }
}
.press {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  background-color: #E1FD2C;
  gap: 1px;
}
.press__container {
  background-color: #191D2C;
  padding: 50px;
}
.press__container_paragraph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "paragraph paragraph" "radio link";
}
.press__paragraph-container {
  grid-area: paragraph;
}
.press__radio-container {
  display: flex;
  grid-area: radio;
  align-items: flex-end;
}
.press__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.press__pseudo-radio {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #E1FD2C;
  border-radius: 999px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: all 200ms ease;
}
.press__radio-label {
  display: inline;
  margin-right: 14px;
}
.press__radio:checked + .press__pseudo-radio {
  background-color: #E1FD2C;
}
.press__link {
  grid-area: link;
  justify-self: flex-end;
  align-self: flex-end;
  width: 110px;
  height: 52px;
  background-image: url(../../../images/press__link-ellipse.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E1FD2C;
  text-decoration: none;
  transition: all 200ms ease;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
}
.press__link:hover {
  background-image: url(../../../images/press__link-ellipse-hover.svg);
  color: #191D2C;
}

@media screen and (max-width: 1000px) {
  .press {
    grid-template-columns: auto;
    grid-template-rows: 287px;
  }
  .press__container_title {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .press__container {
    padding: 20px;
  }
  .press__link {
    width: 88px;
    height: 42px;
    background-size: 88px;
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */