
// colors
$bgColor: #191D2C;
$borderColor: #E1FD2C;

//D = desktop T = tablet M = mobile - - DT = tablet & desktop

//fonts
$sourceSansPro: 'Source Sans Pro', sans-serif;

$regularFontWeight: 400;
$lightFontWeight: 300;

$lineHeightEqualsFontSize: 100%;

$H2FontSizeDT: 46px;
$H2FontSizeM: 26px;

$h3FontSizeDT: 30px;
$h3LineHeightDT: 37px;
$h3FontSizeM: 22px;

$paragraphFontSizeDT: 30px;
$paragraphLineHeightDT: 42px;
$paragraphFontSizeM: 16px;
$paragraphLineHeightM: 27px;

$headerLinkFontSizeDT: 12px;
$headerLinkLineHeight: 16px;
$headerLinkFontSizeM: 11px; 

$aboutLsistFontSizeDT: 21px;
$aboutListLineHeightDT: 32px;
$aboutListFontSizeM: 16px;
$aboutListLineHeightM: 20px;

$pressLinkFontSizeDT: 19px;
$pressLinkFontSizeM: 14px;

$placeholderFontSize: 9px;
$subscribeBtnFontSize: 10px;
// margins, paddings and gaps

$mainGap: 1px;

$noMargin: 0;
$noPadding: 0;

$commonMarginOrPaddingDT: 50px;
$commonMarginOrPaddingM: 20px;

$aboutContainerPaddingDT: 40px 50px 45px;
$aboutContainerPaddingM: 20px; 
$aboutContainerPaddingParagraphM: 18px 20px;

// animations
$linkHoverTransition: all 200ms ease;
$burgerTransition: all 400ms ease;
$burgerHeaderAnimation: fade-in 400ms ease;

//other
$hoverOpacity: 0.6;