.header{
    width: 100%;
    max-width: 1440px;
    height: 70px;
    background-color: $bgColor;
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: $mainGap solid $borderColor;
    z-index: 1;
    &__nav{
        margin-left: 50px;
        display: flex;
        gap: 20px;
        animation: $burgerHeaderAnimation;
    }
    &__link{
        text-decoration: none;
        color: $borderColor;
        font-weight: $regularFontWeight;
        font-size: $headerLinkFontSizeDT;
        line-height: $headerLinkLineHeight;
        transition: $linkHoverTransition;
    }
    &__link:hover{
        opacity: $hoverOpacity;
    }
}

@media screen and (max-width: 1000px) {
    .header{
        &__nav{
            display: none;
            margin-left: 34px;
            gap: 16px;
        }
        &__nav_active{
            display: flex;
        }
    }
}

@media screen and (max-width: 500px) {
    .header{
        &__nav{
            margin-left: 20px;
        }
        &__link{
            font-size: $headerLinkFontSizeM;
        }
    }
}