.section-title{
    font-weight: $regularFontWeight;
    font-size: $H2FontSizeDT;
    line-height: $lineHeightEqualsFontSize;
    color: $borderColor;
    margin: $noMargin;
    &_place_gallery{
        margin-left: 50px;
        grid-area: title;
    }
}

@media screen and (max-width: 550px) {
    .section-title{
        font-size: $H2FontSizeM;
        &_place_gallery{
            margin: $noMargin;
        }
    }
}