.press{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    background-color: $borderColor;
    gap: $mainGap;
    &__container{
        background-color: $bgColor;
        padding: $commonMarginOrPaddingDT;
        &_paragraph{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content 1fr;
            grid-template-areas: 
            "paragraph paragraph"
            "radio link";
        }
    }
    &__paragraph-container{
        grid-area: paragraph;
        animation: $burgerHeaderAnimation;
    }
    &__radio-container{
        display: flex;
        grid-area: radio;
        align-items: flex-end;
    }
    &__radio{
        // grid-area: radio;
        // align-self: flex-end;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__pseudo-radio{
        display: inline-block; 
        vertical-align: middle;
        border: 1px solid $borderColor;
        border-radius: 999px;
        width: 12px;
        height: 12px;
        cursor: pointer;
        transition: $linkHoverTransition;
    }
    &__radio-label{
        display: inline;
        margin-right: 14px;
    }
    &__radio:checked + &__pseudo-radio{
        background-color: $borderColor;
    }
    &__link{
        grid-area: link;
        justify-self: flex-end;
        align-self: flex-end;
        width: 110px;
        height: 52px;
        background-image: url(../../../images/press__link-ellipse.svg);//пока не хватило знаний, как сделать границу такой формы(
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $borderColor;
        text-decoration: none;
        transition: $linkHoverTransition;
    }
    &__link:hover{
        background-image: url(../../../images/press__link-ellipse-hover.svg);
        color: $bgColor;
    }
}