.press{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    background-color: $borderColor;
    gap: $mainGap;
    &__container{
        background-color: $bgColor;
        padding: $commonMarginOrPaddingDT;
        &_paragraph{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content 1fr;
            grid-template-areas: 
            "paragraph paragraph"
            "radio link";
        }
    }
    &__paragraph-container{
        grid-area: paragraph;
    }
    &__radio-container{
        display: flex;
        grid-area: radio;
        align-items: flex-end;
    }
    &__radio{
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__pseudo-radio{
        display: inline-block; 
        vertical-align: middle;
        border: 1px solid $borderColor;
        border-radius: 999px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        transition: $linkHoverTransition;
    }
    &__radio-label{
        display: inline;
        margin-right: 14px;
    }
    &__radio:checked + &__pseudo-radio{
        background-color: $borderColor;
    }
    &__link{
        grid-area: link;
        justify-self: flex-end;
        align-self: flex-end;
        width: 110px;
        min-height: 52px;
        border-radius: 59%;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $borderColor;
        text-decoration: none;
        transition: $linkHoverTransition;
        font-weight: $regularFontWeight;
        font-size: $pressLinkFontSizeDT;
        line-height: $lineHeightEqualsFontSize;
    }
    &__link:hover{
        background-color: $borderColor;
        color: $bgColor;
    }
    &__span{
        padding-right: 2px;
        color: $borderColor;
        font-size: $paragraphFontSizeDT;
        line-height: $paragraphLineHeightDT;
        margin: $noMargin;
        display: inline;
        font-weight: $regularFontWeight;
    }
    &__paragraph{
        color: $borderColor;
        font-weight: $lightFontWeight;
        font-size: $paragraphFontSizeDT;
        line-height: $paragraphLineHeightDT;
        margin: $noMargin;
        display: inline;
    }
}

@media screen and (max-width: 1000px) {
    .press{
        grid-template-columns: auto;
        grid-template-rows: 500px;
        &__container_title{
            display: none;
        }
    }
}
@media screen and (max-width: 550px) {
    .press{
        grid-template-rows: min-content;
        &__container{
            padding: $commonMarginOrPaddingM;
            row-gap: 150px;
        }
        &__link{
            width: 88px;
            min-height: 42px;
            font-size: $pressLinkFontSizeM;
        }
        &__span{
            padding-right: 1px;
            font-size: $paragraphFontSizeM;
            line-height: $paragraphLineHeightM;
        }
        &__paragraph{
            font-size: $paragraphFontSizeM;
            line-height: $paragraphLineHeightM;
        }
    }
}