.heading{
    background-color: $bgColor;
    color: $borderColor;
    padding: 150px 0;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
    "container image"
    "button image";
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: container;
        margin-top: 30px;
        max-height: 356px;
    }
    &__span{
        font-weight: 400;
        font-size: 19px;
        line-height: 28px;
        justify-self: center;
        text-transform: uppercase;
    }
    &__span_top{
        margin-bottom: 30px;
    }
    &__title{
        font-weight: 400;
        font-size: 65px;
        line-height: 73px;
        margin: 0 0 50px 0;
        text-align: center;
    }
    &__button{
        text-transform: uppercase;
        grid-area: button;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 360px;
        box-sizing: border-box;
        border: 1px solid $borderColor;
        text-decoration: none;
        font-weight: $regularFontWeight;
        font-size: 15px;
        line-height: 60px;
        padding: 1px 0;
        color: $borderColor;
        transition: all 300ms ease;
        margin-bottom: 30px;
        justify-self: center;
        align-self: end;
        letter-spacing: 1px;
    }
    &__button:hover{
        background-color: $borderColor;
        color: $bgColor;
    }
    &__image{
        object-fit: cover;
        grid-area: image;
        width: 100%;
        align-self: center;
        aspect-ratio: 72 / 54;
    }
}

@media screen and (max-width: 1000px) {
    .heading{
        padding: 100px 34px;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: 
        "container"
        "image"
        "button";
        &__container{
            grid-area: container;
            margin-top: 0;
        }
        &__button{
            margin-bottom: 0;
        }
        &__title{
            max-width: 550px;
            margin: 0 auto 50px auto;
        }
        &__image{
            margin: 100px 0;
            aspect-ratio: 70/51;
        }
    }
}

@media screen and (max-width: 550px) {
    .heading{
        padding: 60px 20px;
        &__span{
            font-size: 11px;
            line-height: 14px;
            margin: 0;
        }
        &__title{
            max-width: 280px;
            font-size: 38px;
            line-height: 50px;
            margin: 26px auto 30px auto;
        }
        &__image{
            margin: 60px 0;
        }
        &__button{
            width: 100%;
        }
    }
}