.heading{
    background-color: $bgColor;
    color: $borderColor;
    padding: 150px 0;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "span-top image"
    "title image"
    "span-bottom image"
    "button image";
    &__span{
        font-weight: 400;
        font-size: 19px;
        line-height: 28px;
        margin-bottom: 30px;
        justify-self: center;
        text-transform: uppercase;
    }
    &__span_top{
        grid-area: span-top;
    }
    &__span_bottom{
        grid-area: span-bottom;
    }
    &__title{
        grid-area: title;
        font-weight: 400;
        font-size: 65px;
        line-height: 73px;
        margin: 0 0 50px 0;
        text-align: center;
    }
    &__button{
        text-transform: uppercase;
        grid-area: button;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 360px;
        height: 64px;
        box-sizing: border-box;
        border: 1px solid $borderColor;
        text-decoration: none;
        font-weight: 400;
        font-size: 15px;
        color: $borderColor;
        transition: all 300ms ease;
        margin-top: 30px;
        justify-self: center;
    }
    &__button:hover{
        background-color: $borderColor;
        color: $bgColor;
    }
    &__image{
        grid-area: image;
        width: 50vw;
        align-self: center;
    }
}

@media screen and (max-width: 1000px) {
    .heading{
        padding: 100px 34px;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, min-content);
        grid-template-areas: 
        "span-top"
        "title"
        "span-bottom"
        "image"
        "button";
        &__title{
            max-width: 550px;
            margin: 0 auto 50px auto;
        }
        &__image{
            width: 100%;
            margin: 70px 0; 
        }
    }
}

@media screen and (max-width: 550px) {
    .heading{
        padding: 60px 20px;
        &__span{
            font-size: 11px;
            line-height: 14px;
            margin: 0;
        }
        &__title{
            max-width: 280px;
            font-size: 38px;
            line-height: 50px;
            margin: 26px auto 30px auto;
        }
        &__image{
            margin: 60px 0;
        }
        &__button{
            width: 100%;
        }
    }
}